@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

.container{
  width: 90%;
  margin: 0 auto;
}
.flexing{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexing .flex-half{
  width: 50%;
}
img{
  width: 100%;
  display: block;
}
.sec{
  padding: 50px 0;
}

#home .image img{
  width: 75%;
  margin-left: auto;
}
.text h2{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #444;
}
.text .colored{
  color: #ff4800;
}
.text p{
  font-size: 16px;
}

.styled-button{
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  padding: 14px 40px;
  background: linear-gradient(90deg, red, darkorange);
  display: inline-block;
  border-radius: 22px;
  margin-top: 25px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 0px 10px 40px #0000001f;
}

#about{
  background: url(../img/shapes/7.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
}

#about .image img{
  width: 50%;
  margin: auto;
}
#about .text p{
  margin-bottom: 40px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}
.section-title h1{
  font-size: 50px;
  color: #111;
  margin-bottom: 10px;
}
.section-title p{
  font-size: 15px;
  color: #111;
}
.item-3{
  width: 31%;
}

#recipi .box{
  padding: 20px;
  box-shadow: 0px 6px 30px #0000001f;
  border-radius: 20px;
}
#recipi .box h4{
  font-size: 28px;
  color: #222;
  font-weight: 700;
  margin: 20px 0 15px;
}
#recipi .box p{
  line-height: 28px;
}

#reserve{
  background: url(../img/food/reserve.png) center;
  background-size: cover;
  margin: 40px 0;
  padding: 70px 0;
}
#reserve .flexing{
  align-items: stretch;
}
#reserve .reserve-detail{
  width: 40%;
  padding: 40px;
  background: #363636;
  text-align: center;
}
#reserve .box .mini-title{
  font-size: 14px;
  font-style: italic;
  color: #fff;
  text-align: center;
}
#reserve .box h3{
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin: 15px 0 20px;
}
#reserve .box h5{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 25px 0 10px;
}
#reserve .box p{
  font-size: 13px;
  color: #fff;
  line-height: 23px;
}
#reserve .box .contact{
  font-weight: 600;
  margin-top: 40px;
}
#reserve .reserve-form{
  width: 60%;
  padding: 40px;
  background: #CDBA6D;
}
#reserve .reserve-form .flexing{
  margin: 30px 0;
}
#reserve .reserve-form .form-half{
  width: 46%;
}
#reserve .reserve-form .form-3{
  width: 30%;
}

.reserve-form input{
  outline: none;
  border: 1px solid #fff9e1;
  border-radius: 20px;
  padding: 12px 20px;
  background: #DDCD8C;
  color: #fff;
  font-size: 13px;
  width: 100%;
}
.reserve-form .submit{
  transition: 400ms;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background: #eee;
  color: #a5965a;
}
.reserve-form .submit:hover{
  background: transparent;
  color: #fff;
}



#count .count-box{
  box-shadow: 0px 6px 30px #00000028;
  padding: 50px 10px;
  border-radius: 17px;
  text-align: center;
}
#count .count-box h1{
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 2px;
}
#count .count-box p{
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 10px;
}